@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap");
/****************** Root Variables *******************/
:root {
    --primary-color: #3c486b;
    --secondary-color: #f0f0f0;
    --complementary-color: #f45050;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sora", sans-serif;
}

::selection {
    color: var(--primary-color);
    background-color: var(--complementary-color);
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--primary-color);
}

.container {
    width: 690px;
    background: #fff;
    border-radius: 7px;
    padding: 30px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.01);
}

.container h1 {
    text-align: center;
    text-transform: uppercase;
    color: var(--complementary-color);
}

.wrapper {
    border-radius: 5px;
    border: 1px solid #bbb;
}

.wrapper .text-input {
    display: flex;
    border-bottom: 1px solid #bbb;
}

.text-input .to-text {
    border-left: 1px solid #bbb;
    border-radius: 0px;
}

.text-input textarea {
    height: 250px;
    width: 100%;
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
    border-radius: 5px;
    padding: 10px 15px;
    resize: none;
}

.controls,
li,
.icons,
.icons i 
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.controls {
    list-style: none;
    padding: 12px 15px;
}

.controls .row.from .icons {
    border-right: 1px solid #bbb;
    padding-right: 15px;
}

.controls .row.to .icons {
    border-left: 1px solid #bbb;
    padding-left: 15px;
}

.controls .icons {
    width: 38%;
}

.controls .icons i {
    color: #9f9f9f;
    font-size: 14px;
    cursor: pointer;
    width: 50px;
    justify-content: center;
}

.controls .row select {
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
}

.controls .exchange {
    color: #9f9f9f;
    font-size: 16px;
}

.container button {
    width: 100%;
    padding: 14px;
    margin-top: 20px;
    border: none;
    outline: none;
    background: var(--complementary-color);
    border-radius: 5px;
    cursor: pointer;
    color: black;
    font-weight: bold;
    font-size: 17px;
    text-transform: uppercase;
}

.container button:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
}

.row .icons .fas {
    margin-right: 15px;
}

@media(max-width: 487px) {
    .wrapper .text-input {
        display: flex;
        flex-direction: column;
    }

    .text-input .to-text {
        border-left: none;
        border-top: 1px solid #bbb;
    }
}